.users {
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
    margin: 40px 20px;
    display: inline-table;
    width: fit-content;
  }
  .users div {
    padding: 20px;
    margin: 5px;
    border-radius: 15px;
    width:fit-content;
  }

.p {
  font-weight: bold;
}